.sideBarformatting {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-style: italic;
    color: var(--ivory);
}
   
.mainText {
    display:flex;
    width: 25rem;
    max-height: 60vh;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-style: italic;
    text-indent: 1rem;

}

/*Tablet*/
@media (min-width: 415px) and (max-width: 820px) {
    .sideBarformatting {
        align-items: center;
    }
    .mainText {
        display:none;
    }
}
/*Mobile*/
@media (max-width: 414px)  {
    .sideBarformatting {
        text-align: center;
    }
    .mainText {
        display:none;
    }
    
}
