.sideBarformatting {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
    height: 100%;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-style: italic;
    color: var(--ivory);
}

.titleText {
    margin: 0;
}

.mainText {
    display:flex;
    width: 25rem;
    max-height: 60vh;
    padding-top: 1rem;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-style: italic;
    text-indent: 1rem;
}

.instructionTitleText {
    margin: 0;
}

.instructionText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-style: italic;
}

/*Tablet*/
@media (min-width: 701px) and (max-width: 1120px)  {
    .sideBarformatting {
        align-items: center;
    }

    .titleText {
        font-size: 4rem;
    }

    .mainText {
        display:none;
    }

    .instructionTitleText {
        display: none;
    }

    .instructionText {
        padding: 0;
        display: none;
    }
}

/*Mobile*/
@media (max-width: 700px)  {
    .sideBarformatting {
        text-align: center;
        margin: auto;
    }

    .titleText {
        font-size: 2rem;
    }

    .mainText {
        display:none;
    }

    .instructionTitleText {
        display: none;
    }

    .instructionText {
        padding: 0;
        display: none;
    }
}
