/*Everything Container*/
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Input Box*/

.inputFruit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50rem;
}

.inputBitmask {
    width: 20rem;
    height: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 1rem;
    background-color: var(--lightgrey);
    filter: drop-shadow(0 0.4rem 0 var(--ashgrey));
}

.inputLine {    
    margin: auto;
    width: 10rem;
    height: 0.5rem;
    border-radius: 1rem;
    background-color: var(--lightgrey);
    filter: drop-shadow(0 0.4rem 0 var(--darkblue));
}

.inputBitmask::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 1rem;
    text-align: center;
}

/*CARD*/
.card {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.3fr 1fr;

    margin-top: 1.5rem;
    width: 50rem;
    padding:0.5rem;

    filter: drop-shadow(0 0.8rem 0 var(--indigo));
    border-radius: 2rem;
}

.card:hover {
    filter: drop-shadow(0 0.4rem 0 var(--darkblue));
}

/*TEXT*/
.inputTitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-style: italic;
    color: var(--ivory);
}

.fruitTitle {
    grid-column: 1/ span 2;
    grid-row: 1/2;
    margin: 0;
    padding: 1rem 0 0 1rem;
}

.fruitDescription {
    grid-column: 1/2;
    width: 30rem;
    text-indent: 1rem;
    padding: 0 0 1rem 1rem;
    line-height: 1.5rem;
}

.fruitText {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Arial, sans-serif;
}

/*IMAGE*/

.fruitImage {
    grid-column: 2/3;
    grid-row: 1/ span 2;
    margin: auto;
    width: 50%;
}

/*Tablet*/
@media (min-width: 701px) and (max-width: 1120px)  {
    .inputFruit{
        margin: 3rem;
    }
    .card {
        width: 50rem;
    }
}

/*Mobile*/

@media (max-width: 700px)  {
    .inputFruit{
        margin: 3rem;
    }
    .card {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 0.2fr 0.2fr 1fr;
        width: auto;
    }
    .fruitTitle {
        grid-column: 1/ span 2;
        grid-row: 1/2;
    }
    .fruitImage {
        grid-column: 1/ span 2;
        grid-row: 2/3;
        width: 20%;
        margin-top: 1rem;
    }
    .fruitDescription {
        grid-column: 1/ span 2;
        grid-row: 3/ span 4;
    }
}