.footerFruit {
    height: 7rem;
    padding-bottom: 1rem;

    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;

    background-color: var(--indigo);
}

.footerText {
    color: var(--ivory);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.2rem;
    opacity: 0.5;
}


/*Tablet*/
@media (min-width: 701px) and (max-width: 1120px)  {

}

/*Mobile*/

@media (max-width: 700px)  {
    .footerFruit {
        height: 7rem;
        padding-bottom: 1rem;
    
        display: flex;
        flex-direction: column;
        justify-content:flex-end;
        align-items: center;
    
        background: none;
    }
}