:root {
    --lightgrey: #eef0eb;
    --ashgrey: #b4b8ab;
    --ivory: #f4f9e9;
    --indigo: #284b63;
    --darkblue: #153243;
    
    font-size: 12px;
    min-width: 100vw;
    max-height: 100vh;
}

body {
    margin: 0;
    background-image: url('/images/background.png');
    background-size:auto;
}