.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
}

.mainContent {
  display: flex;
  flex-direction: row;
  margin: 8rem;
}

.sideBarPosition {
  margin-left: auto;
}

/*Tablet*/
@media (min-width: 701px) and (max-width: 1120px) {}
/*Mobile*/
@media (max-width: 700px)  {}