.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: row;
  min-width: 100vw;
}

/*Tablet*/
@media (min-width: 701px) and (max-width: 1120px) {}
/*Mobile*/
@media (max-width: 700px)  {}