.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

.content {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
}

.mainContent {
  display: flex;
  flex-direction: row;
  margin: 8rem;
}

.sideBarPosition {
  margin-left: auto;
}

/*Tablet*/
@media (min-width: 701px) and (max-width: 1120px) {
  .mainContent {
    flex-direction: column-reverse;
  }
  .sideBarPosition {
    margin-left: 0;
  }
}
/*Mobile*/
@media (max-width: 700px)  {
  .mainContent {
    flex-direction: column-reverse;
    margin: 4rem;
  }
  .sideBarPosition {
    margin-left: none;
  }
}